.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 5vw;
    background-color: var(--bg-dark-two);
    box-shadow: 0 6px 6px 2px var(--shadow);
}

.header a {
    font-size: 34px;
    font-weight: 200;
    text-decoration: none;
    color: var(--font-dark);
}

.header p {
    color: var(--font-dark);
}