.select {
    padding: .8em .3em;
    width: 180px;
    background-color: var(--bg-dark-two);
    border: none;
    border-radius: var(--border-radius);
    color: var(--font-dark);
    font-size: 16px;
}