.main {
  padding: 6rem 7.5vw;
  min-height: 100vh;
}

.filter {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.container {
  margin: 7.5vh 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5em;
}

@media (max-width: 540px) {
  
  .main{
    padding: 2rem;
  }
  
  .filter {
    flex-direction: column;
  }
}