.main {
  padding: 6rem 10vw;
  min-height: 100vh;
}

.filter {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

@media (max-width: 540px) {
  
  .main{
    padding: 2rem;
  }
  
  .filter {
    flex-direction: column;
  }
}